
body{
  background-color: #f5f7fb !important;
  color: #000000 !important;
  
}
body.dark-theme {
  background-color: #121212 !important;
  color: #eeeded !important; 
}

body.dark-theme  .sidenav {
  background-color: #1e1e1e;
  color: #eeeded;
}

body.dark-theme .sidenav .nav_header{
  
  background-color: #1e1e1e;
  
}
body.dark-theme  .card {
  background-color: #2f2e2e;
 
}
body.dark-theme  .colours{
  color: #d5dcee;
}


* {
  font-family: 'Poppins', sans-serif;
}


 h5 {
  font-size: 0.8rem !important;
  color: #babfc5;
}

.headline{
  font-size: 12px;
  font-weight: bolder;
}

.sub-headline{
  font-size: 12px;
  font-weight:500;
  color: #bfc0c2;
}

/* progress bar inner */
.progress-bar {
  border-radius: 10px;
}

.prog-status{
  font-size: 11px;
  font-weight: bold;
  color: #babfc5;
}
.badge {
  padding: .72em !important;
}
.badge-info {
  color: #8cc1c7 !important;
  background-color: #d8f3f5 !important;
}
nav,a {
  font-size: 16px;
}
nav a {
  color: #babfc5;
  font-weight: bold;
}

.dropdown a{
  color: #babfc5;
  font-weight: bold;
  font-size: 12px;
}

.icon-text{
  color: #babfc5;
  font-size: 11px;
}

p {
  font-size: 14px;
  color: #666666;
}
h6 {

  color: #666666;
}

  
  .card {
    border: none !important;
  }
  /* progress dots */
  .dot-purple {
    height: 10px;
    width: 10px;
    background-color: #885af0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
  }
  .dot-red {
    height: 10px;
    width: 10px;
    background-color: #f05a6e;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
  }
  .dot-yellow {
    height: 10px;
    width: 10px;
    background-color: #ebba17;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
  }
/* Side bar */
  .sidenav {
    height: 161%;
    width: 8%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    color: black;
  }
  
  
  .sidenav .nav_header{
    margin: 0px 0px;
    padding:15px 15px;
    background-color: #ffffff;
    color: #243040;
}
.sidenav ul.components {
    
  display: flex;
  flex-direction: column;
}

.sidenav ul li a {
  font-size: 14px;
  display: block;
  color: rgb(148, 148, 148);
}
.sidenav ul li a span {

  display: inline-flex !important;
  vertical-align: middle;
  font-size: 20px;
  padding-right: 10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}



/* Placeholder styling */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  
  opacity: 1; /* Firefox */
  font-family: Poppins;
  font-size: 12px !important;
}

.form-control {
  border: 0px !important;
}
/* Site Icon position */
.input-group-text{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    margin-left: -45px;
    margin-right: 25px;
    z-index: 1;
    background-color: transparent !important;
    border: none !important;
    
}
/* pills */
.nav-pills .nav-link.active {
  color: #666666 !important;
  background-color: transparent !important;
  border-bottom: 2px solid #666666 !important;
  font-weight: bold;
}


.nav-pills .nav-link {
  border-radius: 0PX !important;
}

.icon-active{
  color: #e86ed0;
  width: 50%;
  text-decoration: underline;
}

.images {
  width: 30px;
  border-left: 2px solid #ffffff;
}
.images-footer {
  width: 20px;
  border-left: 2px solid #ffffff;
  margin-top: -2%;
}
.img-alignment {
  margin-left: -15px;
}
.img-alignment-footer {
  margin-left: -10px;
}
.colours{
  color: #313f65;
}
.btn-colours{
  background-color: #313f65 !important;
  border: none !important;
}
.material-icons.md-24 { 
  font-size: 40px; 
}
.material-icons.md-18 { 
  font-size: 14px; 
}
  
  
  .main {
    margin-left: 8%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* for theme switch  */
  @media (prefers-color-scheme: dark) {
    /* defaults to light theme */
    body{ 
      background-color: #f5f7fb !important;
      color: #000000 !important;
    }
    
  }
